<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header color="primary">Device Settings</ion-list-header>

    <ion-item>
      <ion-label>Device Name</ion-label>
      <ion-input type="text" [(ngModel)]="periph.name" (ngModelChange)="validateName($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Number of Pixels</ion-label>
      <ion-input type="number" [(ngModel)]="periph.num_pixels" (ngModelChange)="validatePixels($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Strip reversed</ion-label>
      <ion-checkbox [(ngModel)]="periph.strip_reversed"></ion-checkbox>
    </ion-item>
    <ion-card>
      TrafficMode: Front
      <ion-range dualKnobs="true" min="{{ trafficBoundaries.min }}" max="{{ trafficBoundaries.max }}" step="1" pin="true" debounce="500" [(ngModel)]="trafficValues.front">
        <ion-label slot="start">{{ trafficBoundaries.min }}</ion-label>
        <ion-label slot="end">{{ trafficBoundaries.max }}</ion-label>
      </ion-range>
      TrafficMode: Rear
      <ion-range dualKnobs="true" min="{{ trafficBoundaries.min }}" max="{{ trafficBoundaries.max }}" step="1" pin="true" debounce="500" [(ngModel)]="trafficValues.rear">
        <ion-label slot="start">{{ trafficBoundaries.min }}</ion-label>
        <ion-label slot="end">{{ trafficBoundaries.max }}</ion-label>
      </ion-range>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="save()" color="secondary">Save</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="dismiss()" color="danger">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
