<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button color="light" (click)="scan()">Scan</button>
    Available Devices
    <ion-list>
        <button ion-item *ngFor="let periph of listPeriphs" (click)="connect(periph)">
            {{ periph.name }}
        </button>
    </ion-list>
    Connected Devices
    <ion-list>
        <button ion-item *ngFor="let periph of listConnectedPeriphs">
            {{ periph.name }}
        </button>
    </ion-list>
    <ion-list>
        <button ion-button color="light" (click)="switchOn()">On</button>
        <button ion-button color="light" (click)="switchOff()">Off</button>
        <button ion-button color="light" (click)="flash()">Flash</button>
        <button ion-button color="light" (click)="pulse()">Pulse</button>
    </ion-list>
</ion-content>