<ion-header>
    <ion-navbar>
        <ion-title>
            Devices
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <h2>Connected devices</h2>
    <ion-card>
        <ion-list *ngFor="let periph of listConnectedPeriphs()">
            <ion-item-sliding #item (ionSwipe)="disconnect(periph)">
                <ion-item (click)="openPopoverSettings($event, periph)">
                    <ion-grid>
                        <ion-row>
                            <h2>{{ periph.name }}</h2>
                        </ion-row>
                        <ion-row>
                            <h3>Id: {{ periph.id }}</h3>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-icon name="bicycle" item-start></ion-icon>
                            </ion-col>
                            <ion-col>
                                <ion-chip id="color-preview" [ngStyle]="{'background-color': periph.color_rgb}">
                                </ion-chip>
                            </ion-col>
                            <ion-col>
                                <h3>NumPix: {{ periph.num_pixels }}</h3>
                                <h3>Ms: {{ periph.globalTimerModulusMs }}</h3>
                            </ion-col>
                            <ion-col>
                                <h3>Mode: {{ periph.mode }}</h3>
                                <h3>Tempo: {{ periph.tempo }}</h3>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item-options>
                    <button ion-button expandable (click)="disconnect(periph)"><ion-icon name="md-unlock"></ion-icon></button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ion-card>

    <h2>Available devices</h2>
    <ion-card>
        <ion-list *ngFor="let periph of listAvailablePeriphs()">
            <ion-item (click)="connect(periph)">
                <ion-grid>
                    <ion-row>
                        <ion-col col-2>
                            <ion-chip>
                                <ion-icon name="bicycle" *ngIf="!isOld(periph)" color="primary"></ion-icon>
                                <ion-icon name="bicycle" *ngIf="isOld(periph)" color="danger"></ion-icon>
                            </ion-chip>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <h2>{{ periph.name }}</h2>
                            </ion-row>
                            <ion-row>
                                <h3>Id: {{ periph.id }}</h3>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-spinner name="dots" *ngIf="isScanning"></ion-spinner>
</ion-content>